body {
	margin: 0;
  	padding: 0;
	font: 14pt 'Alike', sans-serif;
	background-repeat: repeat-x;
	}

#buttons1{
	text-align: center;
}


#maincanvas{
	opacity: 0.5;
	position: relative;
  	z-index: 1;

}
#note {
	font-size: 164px;
	display: inline-block;
	height:180px;
	text-align: left;
}

#live:hover{
	font-family: 'Concert One', cursive;
	font-size: 15pt;
}

#live:active{
	background-color: blue;
}

#record:hover{
	font-family: 'Concert One', cursive;
	font-size: 15pt;
}

#record:active{
	background-color: blue;
}

#playaudio:hover{
	font-family: 'Concert One', cursive;
	font-size: 15pt;
}

#playaudio:active{
	background-color: blue;
}

#saveaudio:hover{
	font-family: 'Concert One', cursive;
	font-size: 15pt;
}

#saveaudio:active{
	background-color: blue;
}

#savemidi:hover{
	font-family: 'Concert One', cursive;
	font-size: 15pt;
}

#savemidi:active{
	background-color: blue;
}

#playmidi:hover{
	font-family: 'Concert One', cursive;
	font-size: 15pt;
}

#playmidi:active{
	background-color: blue;
}

#micmute:hover{
	/*background-color:white; */
	margin-left:auto;
	margin-right:auto;
	font-family: 'Concert One', cursive;
	font-size: 15pt;
}

#micmute:active{
	background-color: blue;
}

#micmute {
	/*background-color:white; */
	margin-left:auto;
	margin-right:auto;

}


#getchords:hover{
	font-family: 'Concert One', cursive;
	font-size: 15pt;
}

#majorchord:hover{
	font-family: 'Concert One', cursive;
	font-size: 15pt;
}

#minorchord:hover{
	font-family: 'Concert One', cursive;
	font-size: 15pt;
}

#randomchord:hover{
	font-family: 'Concert One', cursive;
	font-size: 15pt;
}



p {
	margin-right: auto;
	margin-left: auto;
	align-items: center;
	text-align: center;

}

#sensitivity {
	/*background-color:white; */

	margin-left:auto;
	margin-right:auto;
}



input[type="button"]#record
{
	color: black;
}

#detector {
	width: 300px;
	height: 300px;
	/*border: 4px solid gray; */
	/*margin-left: auto;*/
	margin-right: auto;
	border-radius: 8px;
	text-align: center;
	padding-top: 10px;
	position: absolute;
  	z-index: 3;

	}

#detectedchord{
	font-size: 164px;

}

#prechord{
	width: 300px;
	height:300px;
	font-size: 40px;
	top: 200px;

}

#predictedchords {
	float: center;
	margin-left: auto;
	text-align: right;
	font-size: 16px;
    display: inline-block;
    height: 180px;
    position: absolute;
  	z-index: 2;
<<<<<<< HEAD
  	left:900px; 
=======
  	left:600px;
>>>>>>> 082f27d3847d96d6869715652b3f71aee0f0c9c2
  	top:150px;
}

.droptarget {
	background-color: #348781
}

div.confident {
	color: black;
}

div.vague {
	color: lightgrey;
}

div.predict {
	color: lightgrey;
}

#output {
	width: 300px;
	height: 42px;
	color: red;
}

span#flat {
	display: inline;
}
span#sharp {
	display: inline;
}
/*
.testbutton {
  font-family: helvetica;
  color: #14396A !important;
  font-size: 14px;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 9px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #3866A3;
  background: #FFFFFF;
}
.testbutton:hover {
  color: #14396A !important;
  background: #C7D4D6;
}*/
